body {
    background-color: antiquewhite;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 14px;
    width: 200px;
    text-align: center;
    margin: 25px;
    padding: 20px;
}

.card img {
    width: 100%;
    height: 120px;
}

.card h3 {
    font-size: 20px;
}